/* ================= HERO ================= */
/* .home-hero {
  width: 100vw;
  height: 100vh;

  background-image:
    linear-gradient(
      to right,
      rgba(30, 74, 150, 0.45),
      rgba(250, 168, 92, 0.45)
    ),
    url("images/bcg-home.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
} */

/* ================= HERO TEXT ================= */
.hero-content {
  background: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 25px 40px;
  border-radius: 0;

  font-size: clamp(3rem, 10vw, 7.5rem);
  text-align: center;
}

/* ================= TEXT ================= */
.caption {
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  line-height: 1.6;
  color: #333;
}

/* ================= ICON NAVIGATION ================= */
/* .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;                 /* jarak antar icon */
  /* margin-top: 40px;
  flex-wrap: wrap;
} */

/* Setiap icon + teks */
/* .icon-wrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;     /* hilangkan garis bawah */
  /*color: #000;               /* teks hitam */
  /*transition: transform 0.2s ease;
} */

/* Gambar icon */
/* .icon-img {
  width: 80px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
} */

/* Teks nama icon */
/* .icon-wrapper a span {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #000;
} */

/* Hover effect */
/* .icon-wrapper a:hover .icon-img {
  transform: scale(1.1);
}

.icon-wrapper a:hover span {
  color: #444;
} */

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .icon-wrapper {
    gap: 25px;
  }

  .icon-img {
    width: 65px;
  }

  .icon-wrapper a span {
    font-size: 13px;
  }
}
